* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: blueviolet;
}

body {
    background: #e9e5e5;

    height: 100vh;
    height: 100svh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    font-family: 'Poppins', sans-serif;

    background: ghostwhite;

    width: min(40rem, 90%);
    border-radius: 1.2rem 1.2rem 8rem 1.2rem;
    box-shadow: 3px 3px 10px gray;

    gap: 0.2rem;
    
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
    '. i i i i i i i i i i .'
    '. e e e e e e e e e e .'
    '. b b b b b b b b b b .'
    '. r r r r r r r r r r .'
    '. r r r r r r r r r r .'
    '. r r r r r r r r r r .';
}

#main ul {
    list-style-type: none;
}

#input-date {
    grid-area: i;
    display: flex;
    margin-top: 2em;
}

#input-date li {
    display: flex;
    flex-direction: column;
    flex: 1;
}


#input-date label {
    color: rgb(151, 148, 148);
    font-weight: 600;
    font-size: clamp(0.8rem, 0.8rem + .4vw, 3rem);
}

.date {
    width: clamp(4rem, 8vw, 8rem);

    border: 0.1rem solid;
    border-radius: 0.2em;
    border-color: rgb(194, 193, 193);

    padding: 0.3em;

    font-size: clamp(1rem, 1rem + .4vw, 4rem);
    font-weight: 800;
}

#errors {
    grid-area: e;

    display: flex;

    min-height: 3rem;

    font-size: clamp(0.8rem, 0.8rem + .4vw, 2.5rem);
}

.error {
    color: red;
    font-style: italic;

    flex: 1;
}

#input-date,
#errors {
    gap: 1rem;
}

#button-line {
    grid-area: b;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 2em;
    margin-top: 2em;

    /* This is the line */
    border-top: 0.1rem solid rgba(128, 128, 128, 0.295);
}

#button {
    min-width: 5em;
    min-height: 5em;
    
    border: 0;
    border-radius: 2.5em;

    color: var(--main-color);
    background: var(--main-color);

    /* This places button on top border of #button-line */
    transform: translateY(-50%);
}

#button:hover {
    background-color: black;
    color: black;

    box-shadow: 3px 3px 10px gray;
}

#button img {
    height: 50%;
    width: 50%;
}

#results {
    grid-area: r;

    margin: 1.3rem 0;
}

#results p {
    font-size: clamp(1.8rem, 2.4rem + 1vw, 8rem); 
    font-style: italic;
    font-weight: 600;

    min-height: 3rem;
}

.output {
    font-size: clamp(2rem, 2.6rem + 1vw, 9rem);
    font-weight: 800;
    color: var(--main-color);
}

@media (min-width: 600px) {
    #main {
    grid-template-areas:
    '. i i i i i i i i . . .'
    '. e e e e e e e e . . .'
    '. b b b b b b b b b b .'
    '. r r r r r r r r . . .'
    '. r r r r r r r r . . .'
    '. r r r r r r r r . . .';
    }
    #button-line {
        justify-content: flex-end;
    }
}

@keyframes my-animation {        
    from {
      opacity : 0;
      left : -300px;
    }
    to {
      opacity : 1;
      left : 0;
    }      
  }

  .animation {
    animation: my-animation 1s ease;
  }